<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootadmin.min.css}">

<title>Консоль администратора 'Фасолинка'</title>
</head>
</html>